html {
    height: 100vmax;
    margin-bottom: 12px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans Kannada";
    background-color: #c9c9c9;
    height: 100%;
    /* min-height: inherit; */
    /* margin-bottom: 75px; */
}

main {
    height: 100%;
    /* margin-bottom: 75px; */
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin: 0;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(247, 247, 247);
}

.location .blog .menu .order .profile {
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 5px;
    height: 50px;
    flex: 1;
}

.icon {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
}

#location {
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Segoe UI";
}

#blog {
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Segoe UI";
}

#menu {
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Segoe UI";
}

#order {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Segoe UI";
}

#profile {
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Segoe UI";
}

.ext_link {
    text-decoration: none;
    color: black;
}

.location {
    padding-top: 5px;
    padding-bottom: 5px;
}

.blog {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.order {
    width: 25%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: orange;
    vertical-align: middle;
}

.profile {
    padding-top: 5px;
    padding-bottom: 5px;
}

.OneOrder {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 22vmax 13.5vmax 43.5vmax 6vmax 5vmax /*repeat(5, auto)*/;
    position: relative;
    align-items: start;
    justify-items: end;
    justify-content: left;
    /* align-content: start; */
    width: 70%;
    margin: auto;
    /* height: 100%; */
    margin-top: 2%;
    height: calc(100vmax - 75px);
    margin-bottom: 2%;
}

.orderSummary {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    justify-self: center;
    align-self: center;
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2%;
    padding-bottom: 3px;
    /* margin-top: 1.5%; */
    height: 20vmax;
    overflow: scroll;
}

.orderRemainder {
    display: flex;
    border-radius: 5px;
    background-color: #f5d281;
    border-style: solid;
    border-color: black;
    border: 3px;
    border-radius: 15px;
    width: 90%;
    height: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

.orderTime,
.orderId,
.PickupLocation, 
.rating{
    position: relative;
    margin: 0px;
    width: 90%;
    left: 6%;
}

.orderRemainder p {
    font-size: 25px;
    font-weight: bold;
}

.orderTime,
.orderId,
.PickupLocation,
.rating p {
    font-size: 20px;
}

#ratingForm, #sbt-btn{
    font-size: 20px;
}

#sbt-btn{
    background-color: #f5d281;
}

#rating{
    font-size:15px;
    text-align-last: center;
    font-weight: bold;
    align-items: center;
    text-align: center;
    height: 25px;
    margin: 2px;
}

#commet{
    font-size:15px;
    text-align-last: center;
    font-weight: bold;
    align-items: center;
    text-align: center;
    height: 20px;
    width: 50%;
    margin: 0;
    margin: 2px;
}

.orderEstimation {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    width: 100%;
    height: 11vmax;
    justify-self: center;
    align-self: center;
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 2%;
    /* margin-top: 1.5%; */
}

.estimationInfo {
    border-radius: 5px;
    border-style: solid;
    border: 3px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

.orderEstimation p {
    font-size: 25px;
    font-weight: bold;
}

.OrderDetails {
    grid-column: 1/2;
    grid-row: 3/4;
    /* position: relative; */
    width: 100%;
    justify-self: center;
    align-self: start;
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 0%;
    padding-bottom: 2%;
    /* margin-bottom: 2%; */
    /* margin-top: 1.5%; */
    overflow: scroll;
    height: 40.5vmax;
}

.orderDetailtitle {
    display: flex;
    position: relative;
    border-radius: 15px;
    background-color: #dba321;
    width: 40%;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 0%;
    left: 8.2%;
    font-size: 30px;
}

.totalPrice {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    width: 100%;
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1.5%;
    height: 4.5vmax;
}

.totalPrice p {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: 3%;
    width: 100%;
    /* margin: 0px;
    vertical-align: middle; */
    /* margin-bottom: 2%; */
}

.otherAction {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: auto;
    /* margin-top: 2%; */
    height: 4.5vmax;
}

.close {
    display: inline-flex;
    color: grey;
    justify-self: left;
    text-align: left;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.close > a{
    display: inline-flex;
    vertical-align: middle;
}

.cancel {
    display: inline-flex;
    color: grey;
    text-align: right;
    align-items: center;
    justify-content: center;
}

p {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: rgb(0, 0, 0);
}

.OneOrder a:hover {
    color: rgb(90, 106, 145);
    font-weight: bold;
}

table {
    font-size: 30px;
    position: relative;
    width: 80%;
    justify-self: center;
    align-self: center;
    text-align: left;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#quanlity {
    text-align: right;
    padding-bottom: 2%;
}

.add-btn {
    display: block;
    opacity: 0.8;
    font-size: 30px;
    text-align: right;
    align-items: center;
    justify-content: center;
}


.nav-counter {
    position: absolute;
    top: 2px;
    right: -8px;
    min-width: 8px;
    height: 20px;
    line-height: 20px;
    margin-top: -11px;
    padding: 0 6px;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: #e23442;
    border: 1px solid #911f28;
    border-radius: 11px;
    background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
    background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
    background-image: -o-linear-gradient(top, #e8616c, #dd202f);
    background-image: linear-gradient(to bottom, #e8616c, #dd202f);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  }
  .nav-counter-blue {
    background: #e8616c;
    border: 1px solid #dd202f;
    background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
    background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
    background-image: -o-linear-gradient(top, #e8616c, #dd202f);
    background-image: linear-gradient(to bottom, #e8616c, #dd202f);
}


.reduce-btn {
    display: block;
    opacity: 0.8;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.content-section-cart {
    border-radius: 0.3em;
    border: 0.1em solid #dba321;
    position: fixed;
    bottom: 90px;
    right: 5%;
    z-index: 2;
    width: 90%;
    max-width: 440px;
    height: 60%;
    background-color: #F2F2F2;
    display: none;
}

.back-btn {
    position: fixed;
    float: top;
    color: white;
    background-color: #dba321;
    border: none;
    font-weight: bold;
    padding: 15px 32px;
    top: 10%;
    font-size: 1em;
    border-radius: 0.3em;
    margin-right: auto;
    max-width: 30%;
    text-align: center;
}

.back-btn:hover {
    background-color: rgb(112, 130, 177);
    cursor: pointer;
}

.content-section-form {
    width: 300px;
    height: 200px;
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    border: 1px solid #dba321;
    z-index: 9;
    background-color: #bd5858;
}

.container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Noto Sans Kannada";
    font-weight: normal;
    color: rgb(90, 106, 145);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}


.open-button {
    background-color: #dba321;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
    position: fixed;
    bottom: 20%;
    vertical-align: middle;
}

.container-btn {
    background-color: #dba321;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.btn-purchase {
    align-self: flex-end;
    border-radius: 0.3em;
    font-weight: bold;
    color: black;
    background-color: #dba321;
    text-align: center;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    margin-right: 10%;
    margin-left: 10%;
    opacity: 0.8;

}

.cancel-btn {
    align-self: flex-end;
    border-radius: 0.3em;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    background-color: #f32f2f;
}

.cancel-btn:hover {
    background-color: #d00c0c;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04aa6d;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn-header {
    margin: 0.5em 15% 2em 15%;
    color: white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.popup {
    right: 10%;
}

.cart-footer {
    background-color: #F2F2F2;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    max-height: 30px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.cart-footer span {
    text-align: center;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-row {
    position: relative;
    display: flex;
}

.cart-items {
    flex-grow: 1;
    overflow: scroll;
    max-height:max-content;
    -webkit-overflow-scrolling: touch;
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
    height: calc(100% - 150px);
}

ul.item-rows {
    max-height: 175px;
    margin-block-start: 0;
    padding-inline-start: 25px;
    margin-inline-end: 10px;
    height: 100%;
    min-height: 50%;

}

.cart-item {
    position: relative;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

h3.item-title {
    font-size: 1em;
    font-weight: bold;
    width: 70%;
}

h4.qty-title {
    text-align: center;
    font-size: 1em;
    width: 20%;
    line-height: 0;
}

.cart-price {
    width: 30%;
    font-size: 1em;
    font-weight: bold;
    color: #333;
    align-self: center;
}

.cart-quantity {
    display: flex;
    width: 20%;
    flex-grow: 3;
    align-self: center;
    justify-content: space-between;
}

.cart-item-title {
    color: #333;
    font-size: 20px;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #f32f2f;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #d00c0c;
}

.cart-quantity-input {
    text-align: center;
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(90, 106, 145);
    font-size: 1em;
}

.cart-total {
    opacity: 1;
}

.cart-total-title {
    opacity: 1;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 1em;
}

.btn-purchase:hover {
    background-color: green;
}

.back-btn {
    float: top;
    color: white;
    background-color: #dba321;
    border: none;
    font-weight: bold;
    padding: 15px 32px;
    margin-right: 2px;
    font-size: 1em;
    border-radius: 0.3em;
    margin-right: auto;
}

.back-btn:hover {
    background-color: rgb(112, 130, 177);
    cursor: pointer;
}

.back {
    padding-left: 5px;
}

@media only screen and (max-width: 768px) {
    .OneOrder {
        width: 80%;
    }

    .orderTime,
    .orderId,
    .PickupLocation, 
    .rating p {
        font-size: 15px;
    }

    #ratingForm, #sbt-btn {
        font-size: 12px;
    }

    .orderRemainder p {
        font-size: 20px;
        font-weight: bold;
    }

    .orderRemainder {
        width: 90%;
        height: 30%;
    }

    .orderEstimation p {
        font-size: 22px;
    }

    .orderDetailtitle {
        width: 50%;
        height: 40px;
        font-size: 25px;
    }

    table {
        font-size: 22px;
    }

    .section-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cart-quantity-input {
        width: 25px;
        height: 24px;
    }

    .cart-item {
        width: 45%;
        font-size: 0.8em;
        color: #333;
    }

    .cart-price {
        width: 20%;
        font-size: 1em;
        color: #333;
    }

    .cart-quantity {
        width: 30%;
        font-size: 0.8em;
        color: #333;
    }

    .cart-item-title {
        text-align: center;
        font-size: 20px;
    }

    .cart-item-image {
        display: none;
    }

    .back-btn {
        font-size: 80%;
    }

    .content-section-cart {
        width: 50%;
    }

    .open-button {
        background-color: #dba321;
        color: white;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        position: fixed;
        bottom: 20%;
        vertical-align: middle;
    }

    .btn-primary {
        font-size: 15px;
        vertical-align: middle;
    }

}

@media only screen and (max-width: 440px) {
    .OneOrder {
        width: 85%;
    }

    ion-icon {
        font-size: 30px;
    }

    .orderRemainder > span {
        display: none;
    }

    .orderTime,
    .orderId,
    .PickupLocation, 
    .rating p {
        font-size: 12px;
    }

    #ratingForm, #sbt-btn {
        font-size: 12px;
    }
    .orderRemainder p {
        font-size: 17px;
        font-weight: bold;
    }

    .orderRemainder {
        width: 90%;
        height: 30%;
    }

    .orderEstimation p {
        font-size: 18px;
    }

    .orderDetailtitle {
        width: 50%;
        height: 30px;
        font-size: 18px;
    }

    table {
        font-size: 18px;
    }

    .totalPrice p {
        font-size: 18px;
    }

    .navbar {
        height: 30px;
    }

    a {
        font-size: 15px;
    }

    .orderDetailtitle {
        margin-top: 15px;
    }

    ion-icon.purchase {
        font-size: 20px;
    }
    ion-icon {
        font-size: 20px;
    }


    .cart-total-title{
        font-size: 1em;
    }

    .section-header {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    ul.item-rows {
        padding-inline-start: 10px;
    }

    .cart-quantity-input {
        width: 25px;
        height: 24px;
        font-size: 12px;
    }

    .cart-item {
        width: 45%;
        font-size: 0.8em;
        color: #333;
    }

    .cart-price {
        width: 20%;
        font-size: 1em;
        color: #333;
    }

    .cart-quantity {
        width: 30%;
        font-size: 0.8em;
        color: #333;
    }

    .cart-item-title {
        text-align: center;
        font-size: 20px;
    }

    .cart-item-image {
        display: none;
    }

    .btn-purchase{
        padding: 4px 4px;
    }

    .cancel-btn{
        padding: 4px 4px;
    }

    .back-btn {
        font-size: 80%;
    }

    .content-section-cart {
        width: 55%;
    }

}

@media only screen and (max-width: 320px) {
    ion-icon {
        font-size: 20px;
    }

    a {
        font-size: 10px;
    }

    html {
        height: 100vmax;
        margin-bottom: 20px;
    }
    
    .section-header {
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cart-item-image {
        display: block;
    }

    .cart-item {
        width: 45%;
        font-size: 1.2em;
        color: #333;
    }

    .cart-price {
        width: 30%;
        font-size: 0.8em;
        color: #333;
    }

    .cart-quantity {
        width: 35%;
        font-size: 1.2em;
        color: #333;
    }

    ul.item-rows {
        padding-inline-start: 5px;
    }

    h3.item-title {
        font-size: 0.8em;
    }

    h4.qty-title {
        font-size: 0.5em;
    }

}
